ACTION=="add", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_interface", \
ATTRS{bInterfaceClass}=="03", ATTRS{bInterfaceProtocol}=="01", \
RUN+="/usr/sbin/insmod /root/little-penguin-1/assignment04/main.ko"
